{% extends 'base_template.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-success mb-3 px-2">Editar Modelo</h2>
            <!-- Mostrar mensaje de error si existe -->
            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}
            <form method="POST">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control mb-2" id="nombre" name="nombre" value="{{ modelo.nombre }}" required>
                    <label for="nombre">Nombre del Modelo:</label>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-select" id="marca_id" name="marca_id" required>
                        {% for marca in marcas %}
                        <option value="{{ marca.id }}" {% if modelo.marca_id == marca.id %}selected{% endif %}>
                            {{ marca.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="marca_id">Marca:</label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>  
</div>
{% endblock %}